<html>
<header>
    <link rel="stylesheet" href="/css" type="text/css" />
    <link rel="stylesheet" href="/css" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript>
    var liked = {{liked}};
    var liked1 = {{liked1}};
    $(function() {
        $("#list").text("[" + liked + "]");
        $("#list1").text("[" + liked1 + "]");
        $.get($SCRIPT_ROOT + '/api/learn', {"liked": JSON.stringify(liked), "liked1": JSON.stringify(liked1)}, function(data){
            for (i = 0; i < data.films.length; i = i + 1){
                film = data.films[i]
                $("#main").append('<div  class="film" id="film' + i + '"><div id="poster"><img id="poster_img" src="" />            </div>            <div id="info">               <div id="title">                    <a id="title_link" href="">                        <div id="title_title"></div>                    </a>                </div>                <div id=released">                </div>                <div id="rating">                </div>                <div id="genre">                </div>                <div id="directors"class="names">                </div>                <div id="actors" class="names">                </div>                <div id="plot"></div> <div class="stats"><div class="left"></div><div class="right"></div></div>  <div class="stats1"><div class="left"></div><div class="right"></div></div>          </div></div>');
                $("#film" + i + " #poster_img").attr("src",film["Poster"].replace("http://ia.media-imdb.com", "https://images-na.ssl-images-amazon.com"));
                $("#film" + i + " #title_link").attr("href", "http://imdb.com/title/"+film["imdbID"]);
                $("#film" + i + " #title_title").text(film["Title"]);
                $("#film" + i + " #released").text(film["Released"]);
                $("#film" + i + " #genre").text(film["Genre"]);
                $("#film" + i + " #rating").text(film["imdbRating"] + "/10");
                $("#film" + i + " #directors").text(film["Director"]);
                $("#film" + i + " #actors").text(film["Actors"]);
                $("#film" + i + " #plot").text(film["Plot"]);
                $("#film" + i + " .stats .left").css("width", data.results1[i][0] * 100);
                $("#film" + i + " .stats .right").css("width", data.results1[i][1] * 100);
                if(data.results2[i]){
                    $("#film" + i + " .stats1 .left").css("width", data.results2[i][0] * 100);
                    $("#film" + i + " .stats1 .right").css("width", data.results2[i][1] * 100);
                }
            }
        });
    });
    </script>
</header>
<body>
<div>List for next time</div>
<textarea id="list">
</textarea>
<textarea id="list">
</textarea>
<div id="main">
</div>
</body>
</html>